

html {
  background-image: url("old_mathematics.png")
 
  
}


.container {  
  background-image: url("green_cup.png");
  margin: auto;
  height: 600px;
  width: 500px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;

}

.display {
  padding-top: 5px;
  border-radius: 10px;
  width: 450px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  background-image: linear-gradient(to bottom right, #e4b55e, #fdea8f);
  font-family: 'Press Start 2P', cursive;
  position: relative;
}

#result {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 435px;
    font-stretch: condensed;
    text-align: right;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    font-size: 215%;
    overflow: auto;
}

#arguments {
  position: absolute;
  top: 0;
  right: 0;
  width: 435px;
  text-align: right;
  margin-right: 1em;
  margin-top: 0.5em;
  font-size: 110%;
  overflow: auto;
  
  
}


.numbers {
  display: grid;
  grid-template-columns: 85px 85px 85px 85px;
  grid-template-rows: 33.3% 33.3% 33.3%;
  height: 400px;
  width: 270px;
}

.operators {
  display: grid;
  height: 400px;
  width: 110px;
  margin-left: auto;  
  
}

button {
   border-radius: 10px;
   text-align: center;
   transition: 0.2s;
   font-size: 1.5em;
   font-family: 'Unica One', cursive;
   
}

button:hover {
  transform: scale(1.025);
  
  
  
}

.numbutton {
  background-image: linear-gradient(to bottom right, #827d7d, #fff1f1);
  border-radius: 10px;
}

.operbutton {
  background-image: linear-gradient(to bottom right, #ca8d42, #ffff67);
  
}

.center {
  display: flex;
  margin-top: 1.3em;  
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 450px;
 
}
